<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InicioServlet</servlet-name>
        <servlet-class>monopoly.controlador.servlet.InicioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InicioServlet</servlet-name>
        <url-pattern>/inicioServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CargarPartidaServlet</servlet-name>
        <servlet-class>monopoly.controlador.servlet.CargarPartidaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CargarPartidaServlet</servlet-name>
        <url-pattern>/cargarPartidaServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SeleccionarJugadorServlet</servlet-name>
        <servlet-class>monopoly.controlador.servlet.SeleccionarJugadorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SeleccionarJugadorServlet</servlet-name>
        <url-pattern>/seleccionarJugadorServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LanzarDadosServlet</servlet-name>
        <servlet-class>monopoly.controlador.servlet.LanzarDadosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LanzarDadosServlet</servlet-name>
        <url-pattern>/lanzarDadosServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NegociarServlet</servlet-name>
        <servlet-class>monopoly.controlador.servlet.NegociarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NegociarServlet</servlet-name>
        <url-pattern>/negociarServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TerminarTurnoServlet</servlet-name>
        <servlet-class>monopoly.controlador.servlet.TerminarTurnoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TerminarTurnoServlet</servlet-name>
        <url-pattern>/terminarTurnoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GuardarPartidaServlet</servlet-name>
        <servlet-class>monopoly.controlador.servlet.GuardarPartidaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GuardarPartidaServlet</servlet-name>
        <url-pattern>/guardarPartidaServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ComprarPropiedadServlet</servlet-name>
        <servlet-class>monopoly.controlador.servlet.ComprarPropiedadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ComprarPropiedadServlet</servlet-name>
        <url-pattern>/comprarPropiedadServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CogerTarjetaCajaComunidadYSuerteServlet</servlet-name>    
        <servlet-class>monopoly.controlador.servlet.CogerTarjetaCajaComunidadYSuerteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CogerTarjetaCajaComunidadYSuerteServlet</servlet-name>
        <url-pattern>/cogerTarjetaCajaComunidadYSuerteServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            300
        </session-timeout>
    </session-config>
</web-app>
